* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

.active {
  background-color: #fce641;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ff5e5b;
  padding: 10px;
  position: relative;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #ffed66;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex: 1;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#menu-row {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#menu-row li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-row > * {
  flex: 1;
}

#board-size-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#board-size-value {
  text-align: center;
  color: white;
  font-weight: bold;
}

#board {
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
  height: 49px;
  width: 50px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  border: 3px solid black;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  border: 3px solid black;
}

button {
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

button:hover {
  background-color: #ffed66;
}

#newGridConfirmation {
  background-color: white;
  border-radius: 5px;
}

.loader {
  z-index: 3;
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: calc(0.8 * min(100vh, 100vw));
  height: calc(0.8 * min(100vh, 100vw) + 54px);
  z-index: 3;
  display: none;
}

.img-to-download {
  width: calc(0.8 * min(100vh, 100vw));
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  #menu {
    width: 100%;
  }
  #menu-row {
    flex-direction: row;
    max-width: 500px;
    width: 100%;
  }
}
