body{
    margin: 0;
    background-color: #78cccb;
}

body, button{
    font-family: cursive;
}

h1{
    text-align: center;
    font-size: 48px;
    color: #ffed66;
    margin-top: 0;
}

ul{
    margin: 0;
    padding: 15px;
    list-style: none;
}

button{
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    margin-bottom: 20px;
}

button:hover, label[for='gridlines-toggle']:hover{
    background-color: #ffed66;
}

.active{
    background-color: #fce641;
}

#board{
    width: 500px;
    height: 500px;
}

main{
    display: flex;
    justify-content: center;
    gap: 100px;
}

#gridlines-section{
    display: flex;
    flex-direction: column;
}

label[for='gridlines-toggle']{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

#menu{
    align-self: center;
}

#container{
    background-color: #ff5e5b;
    margin: 20px 50px;
    padding: 20px;
    border-radius: 20px
}

#two-col{
    display: flex;
    gap: 50px;
}