* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

.active {
  background-color: #fce641;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ff5e5b;
  padding: 10px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #ffed66;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex: 1;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#menu-row {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#menu-row li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-row > * {
  flex: 1;
}

#board-size-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#board-size-value {
  text-align: center;
  color: white;
  font-weight: bold;
}

#board {
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
  height: 49px;
  width: 50px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  border: 3px solid black;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  border: 3px solid black;
}

button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

button:hover {
  background-color: #ffed66;
}

#newGridConfirmation {
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  #menu {
    width: 100%;
  }
  #menu-row {
    flex-direction: row;
    max-width: 500px;
    width: 100%;
  }
}
